@charset "utf-8";
footer {
  width: 100%;
  background-color: #111;
  color: #fff;
}
.footer-inner {
  padding: 30px 0;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-links {
  display: flex;
  gap: 30px;
}
.footer-top span {
  position: relative;
  display: block;
}
.footer-links span::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -16px;
  width: 1px;
  height: 13px;
  background-color: #fff;
}
.footer-links span:last-child::after {
  display: none;
}
