@charset "utf-8";
.header {
  width: 100%;
  height: calc(89px + 74px);
}
.header-inner {
  position: fixed;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 74px 0;
  height: 89px;
}
.header-bg {
  position: absolute;
  top: calc(89px + 74px);
  left: 0;
  width: 100%;
  height: 0px;
  background-color: rgba(255, 255, 255, 0.95);
  transition: all 0.3s;
  /* background-color: aqua; */
}
.gnb {
  display: flex;
  width: 960px;
}
.gnb > li {
  width: calc(100% / 5);
  text-align: center;
}
.gnb > li > a {
  display: block;
  width: 100%;
  line-height: 89px;
  color: #303030;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}
.icon {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 89px;
}
/* 서브메뉴 */
.depth2 {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.depth2 li {
  width: 95%;
  border-bottom: 1px solid #e1e1e1;
}
.depth2 li a {
  width: 100%;
  line-height: 49px;
  color: #676767;
}
.depth2 li:last-child {
  border: none;
}
/* 메뉴 호버 */
.gnb > li:hover > a {
  color: #c40f39;
  border-bottom: 1px solid #c40f39;
}
.gnb:hover .depth2 {
  opacity: 1;
  visibility: visible;
}
.depth2 li:hover a {
  color: #c40f39;
}
