@charset "utf-8";
.newArrival-inner {
  position: relative;
  width: 100%;
  padding: 100px 25px;
  /* background-color: aqua; */
}
.new_txt {
  margin-bottom: 30px;
}
.new_txt h3 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.2;
}
.new_txt h3::after {
  content: "";
  position: absolute;
  top: 85px;
  left: 0;
  width: 26px;
  height: 4px;
  background: #c40f39;
}
.new_txt p {
  margin-top: 25px;
  font-size: 13px;
  color: #6e6e6e;
}
.new_contents {
  display: flex;
  /* justify-content: space-between; */
  gap: 24px;
}
.new-rightBtm {
  display: flex;
  justify-content: space-between;
}
.img {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.img img {
  display: block;
  border-radius: 20px;
}
.img1 img {
  margin-bottom: 25px;
  padding: 5px 0 0;
}
.img3 img:first-child {
  margin-bottom: 24px;
}
/* 이미지 설명 */
.img-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* text-align: center; */
  background-color: #c40f39;
  /* width: 92%; */
  /* height:calc(100% - 25px) ; */
  /* height: 73%; */
  border-radius: 24px;
  opacity: 0;
  transition: all 0.3s;
}
/* 이미지 설명 배경 */
.img1 .img-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 362px;
  height: 175px;
}
.img2 .img-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 362px;
  height: 262px;
}
.img3 .img-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 756px;
  height: 330px;
}
.img4 .img-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 409px;
}
.img5 .img-desc {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 284px;
  height: 262px;
}
/* 이미지 설명 텍스트 */
.img-desc p {
  color: #fff;
}
.img-desc p:first-child {
  color: #eec7d0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
}
.img-desc p:nth-child(2) {
  font-family: "Noto Sans", sans-serif;
  font-size: 21px;
}
/* 이미지 설명 호버 */
.img:hover .img-desc {
  opacity: 1;
}
