@charset "utf-8";
.topVisual-inner {
  position: relative;
  width: 100%;
}
.topVisual_txt {
  position: absolute;
  top: -500px;
  left: 120px;
  width: 100%;
}
.topVisual_txt::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 80px;
  height: 1px;
  background-color: #fff;
}
.topVisual_txt h1 {
  margin-bottom: 30px;
  font-family: "Noto Sans", sans-serif;
  font-size: 50px;
  font-weight: 200;
  line-height: 1.2;
  color: #fff;
}
.topVisual_txt p {
  font-size: 15px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
